PORT=8052

DB_HOST=localhost
DB_PORT=5432
DB_NAME=notificacoes_db
DB_USER=notificacoes_user
DB_PASSWORD=notificacoes_pass

IDENTIDADE_SERVICE_URL=http://localhost:8011
CHECKOUT_SERVICE_URL=http://localhost:8031

HTTP_CLIENT_TIMEOUT_MS=3000
NOTIFICACAO_RETRY_TENTATIVAS=2
