# Portas expostas de cada serviço
PAGAMENTOS_PORT=8051
NOTIFICACOES_PORT=8052
AVALIACOES_PORT=8053

# Banco de dados - Pagamentos
PAGAMENTOS_DB_NAME=pagamentos_db
PAGAMENTOS_DB_USER=pagamentos_user
PAGAMENTOS_DB_PASSWORD=pagamentos_pass

# Banco de dados - Notificações
NOTIFICACOES_DB_NAME=notificacoes_db
NOTIFICACOES_DB_USER=notificacoes_user
NOTIFICACOES_DB_PASSWORD=notificacoes_pass

# Banco de dados - Avaliações
AVALIACOES_DB_NAME=avaliacoes_db
AVALIACOES_DB_USER=avaliacoes_user
AVALIACOES_DB_PASSWORD=avaliacoes_pass

# Serviços externos (outras equipes)
IDENTIDADE_SERVICE_URL=http://localhost:8011
CHECKOUT_SERVICE_URL=http://localhost:8031
