PORT=8051

DB_HOST=localhost
DB_PORT=5432
DB_NAME=pagamentos_db
DB_USER=pagamentos_user
DB_PASSWORD=pagamentos_pass

IDENTIDADE_SERVICE_URL=http://localhost:8011
NOTIFICACOES_SERVICE_URL=http://localhost:8052

HTTP_CLIENT_TIMEOUT_MS=3000
