PORT=8053

DB_HOST=localhost
DB_PORT=5432
DB_NAME=avaliacoes_db
DB_USER=avaliacoes_user
DB_PASSWORD=avaliacoes_pass

IDENTIDADE_SERVICE_URL=http://localhost:8011
CHECKOUT_SERVICE_URL=http://localhost:8031

HTTP_CLIENT_TIMEOUT_MS=3000
